{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "jasmine"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jasmine": true
  },
  "extends": [
    "airbnb",
    "plugin:jasmine/recommended"
  ],
  "settings": {
    "import/ignore": [
      "node_modules",
      "modules/index.js"
    ]
  }
}
