{
  "parser": "babel-eslint",
  "plugins": [
    "import"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "settings": {
    "import/ignore": [
      "node_modules",
      "modules/index.js"
    ]
  }
}
