{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "jasmine",
    "jest"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jasmine": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "plugin:jasmine/recommended"
  ]
}
