body {
    font-size: 1.125em;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 5px;
    padding: 3px 5px;
}

button {
    padding: 10px 15px;
    color: #ffffff;
    background-color: #000000;
    font-size: 0.975em;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e60000;
}

#version {
    font-size: 1em;
    padding: 10px 15px;
}

#amcharts {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
}

.disappear {
    display: none;
    visibility: hidden;
}