<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Handsontable and Charts</title>
  <script src="https://docs.handsontable.com/bower_components/handsontable/dist/handsontable.full.min.js"></script>
  <script src="http://esironal.github.io/cmtouch/lib/codemirror.js"></script>
  <script src="http://esironal.github.io/cmtouch/mode/javascript/javascript.js" type="text/javascript"></script>
  <script src="http://esironal.github.io/cmtouch/mode/css/css.js"></script>

  <link rel="stylesheet" href="http://esironal.github.io/cmtouch/lib/codemirror.css">
  <link rel="stylesheet" href="https://codemirror.net/theme/dracula.css">
</head>
<body>
  <section>

    <ul id="tabs">
      <li class="<%= current.source=='index'?'selected':'' %>">
        <a href="/index">HighCharts</a>
      </li>
      <li class="<%= current.source=='amCharts'?'selected':'' %>">
        <a href="/amCharts">amCharts</a>
      </li>
      <li class="<%= current.source=='chartJs'?'selected':'' %>">
        <a href="/chartJs">Chart.js</a>
      </li>
    </ul>

    <div id="root"></div>

    <p id="version"></p>

    <%- yield %>

    <div id="code">
      <script type="text/javascript">
        const editor = CodeMirror(document.getElementById('code'), {
          indentUnit: 2,
          lineWrapping: true,
          tabSize: 2,
          lineNumbers: true,
          readOnly: true,
          mode: 'javascript',
          theme: 'dracula',
        });

        editor.getValue();
      </script>
    </div>

  </section>

  <script src="./dist/bundle.js" type="text/javascript"></script>

</body>
</html>
