<div id="chart"></div>
<div id="code">
  <ul>
    <li class="right">
      <a href="void 0" id="jsfiddle">Edit in JSFiddle</a>
    </li>
  </ul>
  <textarea id="codeExample">
<%- include("_partials/amChartsWrapper") %>
  </textarea>
</div>
