@import 'variables'

body 
  font-size: 1.125em

a
  color: #039be5
  font-size: .8em
  text-decoration: $dont

ul 
  list-style: $dont

  li 
    display: inline-block

.right 
  text-align: right

ul#tabs 
  width: $containerWidth
  border-bottom: $one solid $primary-color

  li
    padding: $ten

    a 
      color: $black
      font-size: 1em

  .selected 
    border-bottom: $one solid $white
    border-top: 2px solid $black
    border-right: $one solid $primary-color
    border-left: $one solid $primary-color
    margin-bottom: -$one;

#root
  padding-bottom: $quarter

#chart 
  width: $containerWidth !important
  height: 420px !important

#version 
  font-size: 1em
  padding-bottom: $ten


#code 
  width: $containerWidth
  padding-top: $ten
