@import 'variables'

body 
  font-size: 1.125em

ul#tabs 
  width: $containerWidth
  list-style: $dont
  border-bottom: $one solid $primary-color

  li 
    display: inline-block
    padding: $ten

    a 
      color: $black
      text-decoration: $dont

  .selected 
    border-bottom: $one solid $white
    border-top: 2px solid $black
    border-right: $one solid $primary-color
    border-left: $one solid $primary-color
    margin-bottom: -$one;

#root
  padding-bottom: $quarter

#chart 
  width: $containerWidth !important
  height: 420px !important

#version 
  font-size: 1em
  padding-bottom: $ten


#code 
  width: $containerWidth
  padding-top: $ten
